logging:
  appenders:
    # An appender named "stdout" that writes to stdout
    stdout:
      kind: console
      encoder:
        kind: json
    # An appender named "requests" that writes to a file with a custom pattern encoder
    file:
      kind: rolling_file
      path: ttod.log
      policy:
        kind: compound
        trigger:
          kind: size
          limit: 10mb
        roller:
          kind: fixed_window
          base: 1
          count: 5
          pattern: "dungeonfog.{}.log"
      encoder:
        pattern: "{d} [{f}:{L}] {l} - {h({m})}{n}"

# Set the default logging level to "warn" and attach the "stdout" appender to the root
  root:
    level: debug
    appenders:
#      - file
      - stdout

server:
  address: 127.0.0.1:8081
  base: http://localhost:8081
